body {
	color: #ffffff;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	background-color: #4B0082;
}

.background-stripes {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 160px,
		rgba(0, 0, 0, 0.1) 160px,
		rgba(0, 0, 0, 0.1) 320px
	);
	z-index: -100;
}

/* Center Classes */
.center-text {
	text-align: center;
}

.center {    
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-bottom {    
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, -50%);
}


.flex-center {
	display: flex;
	justify-content: center;
}

#routify-app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Center Classes */

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:focus {
	border-color: #666;
}

.play-btn {
	color: #ffffff;
	background-color: #009d00;
}

.stop-btn {
	color: #ffffff;
	background-color: darkred;
}

.fancy-btn {
	/* Text Styling */
	font-size: 1.5rem;

	/* Button Styling */
	box-shadow: 2px 2px 5px black;
	border-radius: 3px;
	border: none;
	width: 15rem;
	
	user-select: none;
	transition: all .2s ease-in-out;
}

	.fancy-btn:not(:disabled):hover {
		transform: scale(1.025);
		filter: brightness(115%);
	}

	.fancy-btn:disabled {
		filter: brightness(75%);
		transform: scale(.90);
	}
	
	.fancy-btn:active {
		filter: brightness(90%);
		transform: scale(.95);
	}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;

	user-select: none;
}

img.emoji-fill {
	width: 100%;
	height: 100%;

	user-select: none;
}